<div id="container">
  <div class="input-container m-5">
    <form class="input-group">
      <input
        type="text"
        class="form-control"
        id="search"
        placeholder="Search by title, artist or #hashtag"
      />
      <button type="submit" class="btn btn-outline-secondary">Search</button>
    </form>
  </div>
</div>
